@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-brand-background text-brand-text-base;
  font-family: 'Inter', sans-serif;
}

/* Custom scrollbar for better aesthetics */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #013D28;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #002a1c;
}
